body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-inner-spin-button {
  display: none;
}
.lims-container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 0;
}
.lims-card {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.lims-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 10px;
  overflow: auto;
  padding-bottom: 70px;
}
.lims-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  z-index: 1;
}
.lims-header h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0 0 0 10px;
  font-size: 20px;
  font-weight: bold;
}
.lims-list {
  width: 100%;
  border-collapse: collapse;
  cursor: pointer;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.lims-list thead {
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 2;
  background: #fff;
  padding-top: 0;
}
.lims-list thead tr:first-child th {
  border-top: 1px solid #ddd;
}
.lims-list tr th {
  height: 50px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding-left: 5px;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
}
.lims-list tr td {
  height: 40px;
  border-right: 1px solid #ddd;
  padding-left: 5px;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}
.lims-list tr th:first-child,
.lims-list tr td:first-child {
  border-left: 1px solid #ddd;
}
.lims-list tbody tr:hover {
  background: #f2f2f2f2;
}

.lims-card1 {
  display: grid;
  grid-template-columns: 1fr; /* Default to one column on small devices */
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  height: 100%;
}
.lims-card1 .lims-wrapper1 {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.lims-wrapper1-item {
  height: 100%;
  width: 100%;
  padding: 0;
  padding-bottom: 50px;
  overflow: auto;
}
.lims-card1 .lims-wrapper1:first-child {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.lims-listbox {
  padding: 0;
  margin: 0;
  width: 100%;
}
.lims-listbox ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.lims-listbox ul li {
  list-style: none;
  width: 100%;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  padding: 0 0 0 16px;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.lims-listbox ul li:hover {
  color: #f2f2f2f2;
  background: blueviolet;
}
.lims-wrapper::-webkit-scrollbar,
.lims-wrapper1-item::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.lims-wrapper::-webkit-scrollbar-thumb,
.lims-wrapper1-item::-webkit-scrollbar-thumb {
  border: 5px solid #ddd;
}
.lims-wrapper1-item.item1 {
  padding: 0 15px;
}
.lims-wrapper1-item.item1 .row {
  margin-right: -2px;
  padding-left: 5px;
  padding-right: 0;
}
.lims-header1 {
  font-size: 18px;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 10px;
  height: 50px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
.lims-header1:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blueviolet;
}
.btn-lims {
  border: 1px solid #ddd;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  background: #f2f2f2f2;
  outline: none;
}
.btn-lims:hover {
  background: blueviolet;
  color: #f2f2f2f2;
}
.ftbtn-section {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  width: 100%;
}
.ftbtn-section .btn-lims {
  flex: 1 1 100px;
  padding: 8px 24px;
  max-width: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

@media (min-width: 900px) {
  .lims-card1 {
    grid-template-columns: 25% 75%; /* Two columns on larger devices */
  }
  .ftbtn-section {
    position: sticky;
    bottom: 0;
  }
}
@media (max-width: 900px) {
  .lims-container {
    height: auto;
  }
  .lims-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
  .lims-wrapper {
    padding-bottom: 10px;
  }
  .lims-card1 {
    height: 100%;
  }
  .lims-listbox {
    height: 50vh;
    overflow: auto;
  }
  .lims-wrapper1 {
    height: 100%;
    overflow: none;
  }
  .lims-wrapper1-item {
    height: auto;
  }
  .lims-header1 {
    justify-content: center;
  }
  .ftbtn-section {
    justify-content: center;
    flex-wrap: wrap;
  }
}
